/* .background-color{
  background: linear-gradient(
        to right, 
        white 0%, 
        white 66%, 
        #3a4256 66%,
        #3a4256 100%
      );
}
.background-image{
 
  background-image: url('../../images/chairBg.png');
  background-position:left; 
  background-repeat:no-repeat; 
  background-size:cover; 

} */

.background-image{
  background-image:
  linear-gradient(45deg, transparent 55%,#3a4256 55%),
  url('../../images/chairBg.png');
  background-size: cover;
  background-position: center;
}